@charset "UTF-8";

.search_area{
	height: 100px;
	text-align: center;
	line-height : 100px;
	border: 2px solid black;
}
.search_company{

}
.button_area{
	text-align: right;
}

.board_table{
	width : 100%;
	border: black 2px solid ;
	text-align: center;
	
}
td,th{
	border: black 2px solid ;
}